<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">


<bean id="myAdvice" class="com.qiuhui.aop.MyAdvice"/>
<bean id="cat" class="com.qiuhui.proxy.Cat"/>



<context:component-scan base-package="com.qiuhui"/>
<aop:aspectj-autoproxy/>



<!-- <aop:config>
	<aop:aspect ref="myAdvice">
	<aop:pointcut id="pointcut" expression="execution(* com.qiuhui.proxy.Cat.*(..))"/>
	<aop:before method="beforeAdvice" pointcut-ref="pointcut" />
	<aop:after-returning method="afterReturningAdvice" pointcut-ref="pointcut" returning="result"/>
	<aop:after-throwing method="afterThrowingAdvice" pointcut-ref="pointcut" throwing="e"/>
	<aop:after method="afterAdvice" pointcut-ref="pointcut"/>
	</aop:aspect>
</aop:config> -->


</beans>
